fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    width: 50em;
    margin: 0 auto;
}

form {
    margin-bottom: 1em;
}

form ul {
    list-style-type: none;
}

.field {
    clear: both;
    margin-bottom: 1em;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.5em;
    width: 12em;
}

.checkbox-field label {
    display: block;
    width: 100%;
}

input, textarea, select {
    font-size: 1em;
    padding: 0.2em;
}

.req {
    padding-left: 0.2em;
    color: red;
    font-weight: bold;
}

.errorLi {
    display: none;
}

li.error {
    @extend .notification-error;

    label {
        color: black;
    }
}

p.error {
    margin-bottom: 0;
}

button {
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #aaa;
    background-color: #c6d880;
}

button:hover {
    border: 1px solid #777;
}

/* deform */
.deformClosebuttonActive {
    border: 0;
    cursor: pointer;
    float: left;
    width: 1em;
    height: 1em;
    margin: .5em;
}

.deformClosebuttonActive:before {
    content: "\2716";
    color: red;
    margin-right: 2px;
}

/* jQuery UI */
.ui-icon { width: 16px; height: 16px; background-image: url("/static/img/jquery-ui-icons_222222_256x240.png")}
.ui-state-default .ui-icon { background-image: url("/static/img/jquery-ui-icons_888888_256x240.png");}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url("/static/img/jquery-ui-icons_454545_256x240.png") }
.ui-state-active .ui-icon {background-image: url("/static/img/jquery-ui-icons_454545_256x240.png") }
.ui-state-highlight .ui-icon {background-image: url("/static/img/jquery-ui-icons_2e83ff_256x240.png") }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url("/static/img/jquery-ui-icons_cd0a0a_256x240.png") }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
